.sidebar {
  background-color: var(--sidebar-colour);
  height: 2400px;
  width: 200px; /* 20vw */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

.sidebar li {
  list-style: none;
}
.sidebar a {
  color: var(--text-colour);
  text-decoration: none;
}

.sidebarlist {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--primary-lighter-colour);
}

.AboutMeActive, .ExperienceActive, .ContactActive {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-highlighted-colour);
  border-left: 1px solid var(--secondary-colour);
}

.AboutMeActive a, .ExperienceActive a, .ContactActive a {
  color: var(--secondary-colour);
}

.stickyscroll {
  position: sticky;
  top: 400px;
}

.aboutmesection {
  color: var(--text-colour);
  padding-left: 4rem;
  padding-right: 4rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutmesection h1 {
  margin-bottom: 16px;
}

.aboutmesection p {
  margin-top: 0;
  margin-bottom: 8px;
}

.skillssection {
  display: flex;
  flex-direction: row;
}

.skillslist {
  width: 50%;
}

.skillslist ul {
  margin: 0;
  padding-left: 20px;
}

.experiencesection {
  color: var(--text-colour);
  padding-left: 4rem;
  padding-right: 4rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experiencesection h1 {
  margin-bottom: 16px;
}

.experiencesection p {
  margin-top: 0;
  margin-bottom: 8px;
}

.experiencesection ul {
  margin: 0;
  padding-left: 20px;
}

#role {
  padding-bottom: 0;
}

.contactmesection {
  color: var(--text-colour);
  padding-left: 4rem;
  padding-right: 4rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactmesection h1 {
  margin-bottom: 16px;
}

.contactmesection p {
  margin-top: 0;
  margin-bottom: 32px;
}

.contactmesection h5 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.contactmearea {
  display: flex;
  flex-direction: row;
}

.contactform {
  width: 60%;
}

.contactform form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.contactform input, textarea {
  background-color: var(--primary-colour);
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-colour);
  border: none;
  border-bottom: 1px solid var(--text-colour);
  margin-bottom: 20px;
}

.contactform input:focus, textarea:focus {
  outline: 0;
}

.contactform button {
  transition: background-color 0.2s, font-size 0.2s;
}

.contactform button:hover {
  background-color: var(--secondary-lighter-colour);
  font-size: 18px;
}

textarea {
  resize: none;
}

#formmessage {
  padding-bottom: 80px;
}

.contactform button {
  height: 42px;
  width: 120px;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text-colour);
  background-color: var(--secondary-colour);
  border: none;
  border-radius: 8px;
}

.contactdetails {
  width: 40%;
}

.sociallink {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sociallink a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background-color: var(--secondary-colour);
  border-radius: 20px;
  transition: background-color 0.2s;
}

.sociallink a:hover {
  background-color: var(--secondary-lighter-colour);
}

.sociallink img {
  height: 20px;
  width: 20px;
  transition: height 0.2s, width 0.2s;
}

.sociallink img:hover {
  height: 24px;
  width: 24px;
}

.mainpage {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}